.box-title{
    color:'red'
}
.list-type {
    float: left;
    clear: both;
    margin-left: 55px;
    margin-top: 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.list-type ul li {
    position: relative;
    float: left;
    list-style: none;
    margin-right: 15px;
    margin-bottom: 15px;
}

.list-type ul li a img {
    width: 150px;
    height: 140px;
}

.partner_text {
    font-weight: bold;
    text-align: center;
    z-index: +3;
    color: #aebf37;
}

@media (max-width: 479px) {
    .list-type {
        float: left;
        clear: both;
        margin-left: 35px;
    }
}